body {
    margin: 0px;
    padding: 0px;
    background-image: radial-gradient(white, royalblue);
    min-height: 100vh;
}

.logo {
    display: block;
    margin: auto;
    max-width: 10vw;
}

.heading {
    text-align: center;
    color: tomato;
}

.msg-container {
    background-color: salmon;
    max-width: 60vw;
    margin: auto;
    padding: 5px;
    max-height: 60vh;
    min-height: 60vh;
    border-radius: 30px;
    overflow-y: auto;
}

.message {
    border-radius: 10px;
    margin: 10px;
    padding: 10px 10px;
    background-color: white;
    max-width: 40vw;
}

.left {
    float: left;
    clear: both;
}

.right {
    float: right;
    clear: both;
}

.form {
    display: flex;
    max-width: 60vw;
    margin: auto;
    padding: 10px;
    justify-content: space-between;
}

.message-input {
    min-width: 40vw;
    font-size: 1.4rem;
    padding: 5px;
    border-radius: 10px;
}

.message-btn {
    border-radius: 10px;
    color: black;
    font-size: 1.1rem;
    border:2px solid blanchedalmond;
}
#userName{
text-align: center;
}